:root {
  --black: #333;
  --bg: #0e131f;

  --white: #fff;
  --white-hover: #fafbff;
  --white-active:#F4F5F9;

  --grey: #c1c4d6;
  --grey-hover: #8f95b2;

  --primary: #3366ff;
  --primary-hover: #2952cc;
  --primary-active: #1f3d99;

  --success: #429777;
  --success-hover: #317159;
  --success-active: #214c3c;

  --danger: #d14343;
  --danger-hover: #a73636;
  --danger-active: #7d2828;

  --accent: #ffb020;

  --link: #ffefd2;
  --link-hover: #ffd280;

  --radius: 5px;
}
